[submodule "OpenROAD-flow-scripts"]
	path = OpenROAD-flow-scripts
	url  = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "designs/src/lfsr_prbs_gen/dev/repo"]
	path = designs/src/lfsr_prbs_gen/dev/repo
	url = https://github.com/alexforencich/verilog-lfsr.git
[submodule "designs/src/minimax/dev/repo"]
	path = designs/src/minimax/dev/repo
	url = https://github.com/gsmecher/minimax.git
[submodule "designs/src/NyuziProcessor/dev/repo"]
	path = designs/src/NyuziProcessor/dev/repo
	url = https://github.com/jbush001/NyuziProcessor.git
[submodule "designs/src/liteeth/dev/liteeth"]
	path = designs/src/liteeth/dev/repo
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "designs/src/cnn/dev/repo"]
	path = designs/src/cnn/dev/repo
	url = https://github.com/NNgen/nngen
[submodule "designs/src/gemmini/dev/repo"]
	path = designs/src/gemmini/dev/repo
	url = https://github.com/ucb-bar/gemmini.git
